body {
    padding-left: 10px;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

.header {
    overflow: auto;
    background-image: url('images/');
}

.topnav {
    background-color: #4CAF50;
    overflow: auto;
    padding-left: 10px;
}

.topnav a {
    color: #ffffff;
    float: left;
    display: block;
    padding: 10px 20px;
}

.topnav a:hover {
    background-color: cadetblue;
}

.sidenav {
    overflow: auto;
    width: 80%;
}

.sidenav a {
    float: none;
    display: block;
    padding-bottom: 20px;
}

.sidenav a:hover {
    background-color: cadetblue;
}

.column {
    float: left;
}

.column.leftside {
    width: 14%;
    background-color: #f1f1f1;
    /*border: 3px solid #73AD21;*/
    padding-left: 10px;
    margin-right: 1%;
}

.column.middleside {
    width: 70%;
    /*border: 3px solid #73AD21;*/
}

.column.rightside {
    width: 15%;
    background-color: #f1f1f1;
    /*border: 3px solid #73AD21;*/
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.midcolumnonly {
    font-size: 16px;
    width: 50%;
    margin: auto;
}

@media only screen and (max-width:768px) {

    .column.middleside,
    .column.rightside {
        width: 100%;
    }

    .column.leftside {
        width: 100%;
    }

    .topnav {
        background-color: #4CAF50;
        overflow: auto;
        padding-left: 5px;
    }

    .topnav a {
        color: #ffffff;
        float: left;
        display: block;
        padding: 10px 15px;
    }

    .midcolumnonly {
        width: 100%;
    }
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}



a:link,
a:visited {
    text-decoration: none;
}